body {
    max-width: 1920px ;
    width:95%;
    text-align: center ;
    margin: 0 auto ;
    text-decoration: none;
    line-height: 1.3rem;
    font-family: sans-serif;
}
/************************************************************************/
/************ style du hearder et de la barre de navigation *************/
/************************************************************************/
.navHead {
    background-color: rgb(7, 4, 21);
    padding: 1rem;
}
.navHead ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.navHead a {
    text-decoration: none;
    color:aliceblue;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

.navHead a:hover {
    color: gold;
}

/***********************************************************************/
/************************ style de la vue Home *************************/
/***********************************************************************/
.imghome {
    width: 100%;
}

/***********************************************************************/
/************************ style de la vue room *************************/
/***********************************************************************/
.rooms {
    width: 60%;
    margin: 0 auto;
}

/***********************************************************************/
/*************** style du formulaire de réservation ********************/
/***********************************************************************/
input {
    width: 400px;
    padding:0.5rem;
    margin-bottom: -1rem;
    margin: 0 auto -1rem auto;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    
}

hr {
    width: 600px;
    margin: 2rem auto 0 auto;
}

select {
    width: 250px;
    padding: 0.5rem;
    background-color: rgb(12, 10, 10);
    color: gold;
    border-radius: 5px;
}

#div-input-label {
    margin-top: 1rem auto;
}

.submit {
    width: 250px;
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 5px;
}

.submit:hover {
    background-color:gold;
}
.errorForm {
    color:red;
}

/*********************************************************************/
/*********************** style de la page admin  *********************/
/*********************************************************************/
.superAdmin a li {
    display:inline-block;
    padding:1rem;
    color:white ;
    text-transform: uppercase;
}
.superAdmin a li:hover {
    color: crimson;
}

.superAdmin {
    max-width: 100%;
    background-color: rgb(61, 88, 208);
}

.titleAdmin {
    color: red;
}


.table {
    margin: 3rem auto;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1.2rem;
    border: 1px solid black;
}

.table a {
    text-decoration: none;
}

.table a:hover{
    color: red;
}

/*********************************************************************/
/***********************style du footer*******************************/
/*********************************************************************/
.footer {
    background-color: rgb(7, 4, 21);
    padding: 1.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
    color:white;
    display:flex;
    justify-content: space-around;
}

footer div {
    width: 40%;
}

.footer h3 {
    text-decoration: underline;
}
/* .contact {
    display:flex;
    justify-content: flex-start;
} */
.contact h4 p {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}

.reseaux {
    width: 40%;
    /* display: flex;
    justify-content: flex-end; */
}

.reseaux a i {
    font-size: 2rem;
    margin: 1.2rem;
    color: white;
}

.reseaux a i:hover {
    color: gold;
}



/*********************************************************************/
/***************************login view********************************/
/*********************************************************************/

#userLastName {
    margin-bottom: 1.5rem;
}

#userFirstName {
    margin-bottom: 1.5rem;
}

#userEmail {
    margin-bottom: 1.5rem;
}

#access {
    padding: 0.5rem 4rem;
    border-radius: 5px;
}
#access:hover {
    background-color:gold;
}




/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

/*********************************************************************/
/*********************************************************************/
/*********************************************************************/